[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=armyops
Comment=
Exec=/usr/local/games/armyops/armyops
Terminal=false
Icon=/usr/local/games/armyops/ArmyOps.xpm
Type=Application
Name[en_US]=Armerican Army
