[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Azureus
Type=Application
Terminal=false
Icon[en_US]=/opt/azureus/Azureus.png
Name[en_US]=Azureus
StartupNotify=true
Exec=azureus
Comment[en_US]=Bittorrent client
Comment=Bittorrent client
Icon=/opt/azureus/Azureus.png
GenericName[en_US]=Bittorrent client
Categories=Application;Network;
MimeType=application/x-bittorrent;
