[Desktop Entry]
Version=1.0
Encoding=UTF-8
Exec=firefox
Terminal=false
MultipleArgs=false
Type=Application
Icon=/usr/local/firefox/chrome/icons/default/default.xpm
Categories=Application;Network
TryExec=
X-GNOME-DocPath=
Name[en_US]=Mozilla Firefox
GenericName[en_US]=Web Browser
Comment[en_US]=Browse the World Wide Web
