[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=gnome-screensaver-command --lock
TryExec=
X-GNOME-DocPath=
Terminal=false
Name[en]=Gnome ScreenSaver Lock
GenericName[en]=Lock Screen
Comment[en]=Lock screen when clicked
Name=Gnome ScreenSaver Lock
GenericName=Lock Screen
Comment=Lock screen when clicked
Icon=stock_lock
