[Desktop Entry]
Version=1.0
Exec=/Users/lmondesi/bin/ie6
Icon=/Users/lmondesi/.ies4linux/ies4linux.svg
Name=Internet Explorer 6.0
GenericName=Microsoft Windows Aplication
Comment=MSIE 6.0 by IEs4Linux
Encoding=UTF-8
Terminal=false
Type=Application
