[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Nintendo
Type=Application
Exec=/home/luigi/Applications/scripts/playrom.pl
TryExec=
Icon=/usr/share/icons/Nuvola/scalable/apps/gnome-joystick.svg
X-GNOME-DocPath=
Terminal=false
Name[en_US]=Nintendo
GenericName[en_US]=Nintendo
Comment[en_US]=Play Nintendo games
Categories=Application;Game;
