[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=RBSD
Type=Application
Exec=rdesktop -g "800x600" www.rbsd.com
TryExec=
Icon=/usr/share/pixmaps/gnome-remote-desktop.png
X-GNOME-DocPath=
Terminal=false
GenericName=RBSD
Comment=Terminal Server @ RBSD
