[Desktop Entry]
Version=1.0
Encoding=UTF-8
Exec=/usr/games/xboard -tc 30 -boardSize 64 -highlightLastMove True -showCoords True
Terminal=false
Type=Application
TryExec=
Icon=gnome-gnomoku.png
X-GNOME-DocPath=
Name[en_US]=XBoard
GenericName[en_US]=Chess Game
Comment[en_US]=The real way to launch a chess board
